* {
  font-family: "Poppins", sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

i, img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

:root {
  --main-background-color: #f0f2f5;
  --color-grey-1: #eaecee;
  --color-grey-2: #d9dbdd;
  --color-grey-3: #aaacad;
  --color-grey-4: #8b8c8d;
  --color-primary-1: #9625d8;
  --color-primary-2: #6c2097;
  --color-primary-3: #be68f0;
  --color-primary-4: #440e63;
  --color-primary-5: #f4f2f7;
  --color-primary-6: #ccbbe2;
  --interactable-area-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--main-background-color);
}

.login-panel {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  height: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-panel .title-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-panel .title-area .app-logo img {
  width: 100px;
  height: 100px;
}
.login-panel .title-area .app-title {
  margin: 1rem;
}
.login-panel .login-fields .username-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-grey-1);
  border-radius: 15px;
  width: 300px;
  height: 55px;
  margin: 1rem 0;
}
.login-panel .login-fields .username-area .username-icon {
  max-width: 15%;
  justify-content: center;
  align-items: center;
}
.login-panel .login-fields .username-area .username-icon img {
  width: 50%;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  filter: contrast(0.2);
}
.login-panel .login-fields .username-area .username-entry {
  width: 85%;
}
.login-panel .login-fields .username-area .username-entry input {
  all: unset;
  width: 100%;
}
.login-panel .login-fields .password-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-grey-1);
  border-radius: 15px;
  width: 300px;
  height: 55px;
  margin: 1rem 0;
}
.login-panel .login-fields .password-area .password-icon {
  max-width: 15%;
  justify-content: center;
  align-items: center;
}
.login-panel .login-fields .password-area .password-icon img {
  width: 50%;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  filter: contrast(0.2);
}
.login-panel .login-fields .password-area .password-entry {
  width: 85%;
}
.login-panel .login-fields .password-area .password-entry input {
  all: unset;
  width: 100%;
}
.login-panel .login-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-1);
  border-bottom: 5px solid var(--color-primary-2);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 300px;
  height: 55px;
  margin: 3rem 0;
  transition: all 0.1s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.login-panel .login-area h2 {
  color: white;
}
.login-panel .login-area:hover {
  transition: all 0.1s ease-in-out;
  background-color: var(--color-primary-2);
  border-bottom: 5px solid var(--color-primary-4);
  cursor: pointer;
}
.login-panel .login-area:active {
  transition: all 0.1s ease-in-out;
  transform: translateY(3px);
}

.browse-wrapper {
  background-color: var(--main-background-color);
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 2fr 10fr;
  grid-template-areas: "title-cell section-navigation-cell" "search-cell book-display-cell";
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.browse-wrapper .test-cell {
  background-color: lightgray;
  border: 1px dashed #888;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.title-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 185px;
}
.title-cell .app-logo img {
  width: 100px;
  height: 100px;
}
.title-cell .app-title {
  font-size: 1.2rem;
  margin: 1rem;
}

.section-navigation-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -6px 0;
}
.section-navigation-cell .nav-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40px;
  margin: 6px 0;
  border-left: none;
  border-right: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: var(--color-grey-2);
  cursor: pointer;
}
.section-navigation-cell .nav-section h3 {
  font-weight: 600;
}
.section-navigation-cell .nav-section:hover {
  background-color: var(--color-grey-3);
}
.section-navigation-cell .selected-nav-section {
  position: relative;
  justify-content: space-between;
  background-color: var(--color-primary-1);
  border-top: 3px solid var(--color-primary-2);
  border-bottom: 3px solid var(--color-primary-2);
  color: white;
  cursor: default;
}
.section-navigation-cell .selected-nav-section h3 {
  text-align: center;
  width: 80%;
  font-weight: 800;
}
.section-navigation-cell .selected-nav-section:hover {
  background-color: var(--color-primary-1);
}
.section-navigation-cell .selected-nav-section .selection-emphasis-dot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}
.section-navigation-cell .selected-nav-section .selection-emphasis-dot-container .selection-emphasis-dot {
  background-color: white;
  width: 10px;
  height: 4px;
  display: inline-block;
  position: absolute;
  top: 50%;
}

.search-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 185px;
}
.search-cell .search-bar-area {
  margin-top: 10px;
  width: 1300px;
  height: 30px;
  background-color: var(--color-grey-2);
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
}
.search-cell .search-bar-area .search-icon {
  margin-left: -1px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  display: flex;
  flex-direction: row;
  width: 33px;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-cell .search-bar-area .search-icon img {
  width: 80%;
}
.search-cell .search-bar-area .search-icon:hover {
  background-color: var(--color-grey-3);
}
.search-cell .search-bar-area .search-icon:hover img {
  filter: invert(1);
}
.search-cell .search-bar-area .search-entry {
  width: inherit;
}
.search-cell .search-bar-area .search-entry input {
  all: unset;
  width: 120%;
}
.search-cell .filter-area {
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 1250px;
  height: 130px;
  margin-bottom: 0.5rem;
  gap: 2rem;
}
.search-cell .filter-area .search-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 15%;
}
.search-cell .filter-area .search-filter-bar {
  background-color: var(--color-grey-2);
  box-shadow: var(--interactable-area-shadow);
  border-bottom: 3px solid var(--color-grey-3);
  align-items: center;
  border-radius: 10px;
  width: 80%;
  height: 30%;
  overflow: hidden;
}
.search-cell .filter-area .search-filter-bar .search-filter-bar-main-info {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  cursor: pointer;
  z-index: 1;
}
.search-cell .filter-area .search-filter-bar .search-filter-bar-main-info .search-filter-state-icon {
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -5px;
}
.search-cell .filter-area .search-filter-bar .search-filter-bar-main-info .search-filter-state-icon img {
  width: 60%;
}
.search-cell .filter-area .search-filter-bar .search-filter-bar-main-info .search-filter-state-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 5px;
}
.search-cell .filter-area .search-filter-bar .search-filter-bar-main-info .search-filter-state-text h4 {
  font-weight: 300;
}
.search-cell .filter-area .search-filter-bar .search-filter-bar-options-area {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 90px;
  width: 100%;
  padding-top: 15px;
  margin-left: -10px;
  row-gap: 3rem;
  -moz-column-gap: 1.8rem;
       column-gap: 1.8rem;
  opacity: 0%;
  pointer-events: none;
}
.search-cell .filter-area .search-filter-bar .search-filter-bar-options-area .blank-grid-item {
  pointer-events: none;
}
.search-cell .filter-area .search-filter-bar .search-filter-bar-options-area .grid-item-checkbox-container {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 20px;
}
.search-cell .filter-area .search-filter-bar .search-filter-bar-options-area .grid-item-checkbox-container span {
  text-align: center;
  font-size: 0.9rem;
  width: 80px;
}
.search-cell .filter-area .search-filter-bar .search-filter-bar-options-area .grid-item-checkbox-container input {
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.search-cell .filter-area .search-filter-bar .search-filter-bar-options-area .grid-item-datepicker-container {
  display: flex;
  height: 20px;
}
.search-cell .filter-area .search-filter-bar .search-filter-bar-options-area .grid-item-datepicker-container span {
  text-align: center;
  margin-top: -13px;
  font-size: 0.9rem;
  width: 80px;
}
.search-cell .filter-area .search-filter-bar .search-filter-bar-options-area .grid-item-datepicker-container input {
  margin-left: 5px;
  width: 85px;
}
.search-cell .filter-area .search-filter-bar .search-filter-bar-options-area .grid-item-dropdown-container {
  display: flex;
  height: 20px;
  justify-content: space-between;
}
.search-cell .filter-area .search-filter-bar .search-filter-bar-options-area .grid-item-dropdown-container span {
  padding-left: 15px;
  text-align: right;
  font-size: 0.9rem;
}
.search-cell .filter-area .search-filter-bar .search-filter-bar-options-area .grid-item-dropdown-container select {
  width: 95px;
}

.book-display-cell {
  border-top: 3px solid black;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}
.book-display-cell .book-display-list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.book-display-cell .book-display-list .test-book-item {
  background-color: purple;
  width: 85%;
  height: 400px;
  flex-shrink: 0;
}
.book-display-cell .book-display-list .book-item {
  background-color: var(--color-primary-5);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  height: 350px;
}
.book-display-cell .book-display-list .book-item .book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  width: 70%;
  margin-left: 10px;
}
.book-display-cell .book-display-list .book-item .book-info .book-main-info {
  display: flex;
  flex-direction: column;
  font-size: large;
  width: 60%;
  padding-top: 20px;
}
.book-display-cell .book-display-list .book-item .book-info .book-main-info h2 {
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-display-cell .book-display-list .book-item .book-info .book-extra-info {
  margin: 10px 0;
}
.book-display-cell .book-display-list .book-item .book-info .book-user-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  pointer-events: auto;
}
.book-display-cell .book-display-list .book-item .book-info .book-user-info i {
  font-weight: 600;
}
.book-display-cell .book-display-list .book-item .book-info .book-user-info input {
  width: 150px;
}
.book-display-cell .book-display-list .book-item .book-img-container {
  width: 330px;
  height: 300px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.book-display-cell .book-display-list .book-item .book-img-container:hover {
  background-color: var(--color-primary-6);
  filter: brightness(0.8);
  cursor: pointer;
}
.book-display-cell .book-display-list .book-item .book-img-container img {
  width: 300px;
  max-height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
.book-display-cell .book-display-list .book-item .add-book-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.book-display-cell .book-display-list .book-item .add-book-button img {
  border-radius: 50%;
  border: 2px black solid;
  width: 25%;
}
.book-display-cell .book-display-list .book-item .add-book-button img:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
.book-display-cell .book-display-list .book-item .add-book-button img:active {
  transition: all 0.2s ease-out;
  transform: translateY(3px);
}
.book-display-cell .book-display-list .book-item .add-book-button i {
  max-width: 150px;
  font-weight: 400;
  text-align: center;
  color: var(--color-grey-3);
}
.book-display-cell .book-display-grid {
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-right: 15%;
  width: 100%;
  height: 100%;
  row-gap: 0;
}
.book-display-cell .book-display-grid .test-book-item {
  background-color: purple;
  width: 100%;
  height: 500px;
  flex-shrink: 0;
}
.book-display-cell .book-display-grid .book-item:nth-child(n+5) {
  border-top: dashed 2px var(--color-grey-2);
}
.book-display-cell .book-display-grid .book-item {
  background-color: var(--color-primary-5);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
  flex-shrink: 0;
}
.book-display-cell .book-display-grid .book-item .book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.book-display-cell .book-display-grid .book-item .book-info .book-main-info {
  display: flex;
  flex-direction: column;
  width: 280px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.book-display-cell .book-display-grid .book-item .book-info .book-main-info h2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0px;
  font-size: x-large;
  text-align: center;
  width: 255px;
  height: 70px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}
.book-display-cell .book-display-grid .book-item .book-info .book-main-info span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0px;
  text-align: center;
  width: 280px;
  height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}
.book-display-cell .book-display-grid .book-item .book-info .book-extra-info {
  display: none;
  margin: 10px 0;
}
.book-display-cell .book-display-grid .book-item .book-info .book-user-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.book-display-cell .book-display-grid .book-item .book-info .book-user-info i {
  font-weight: 600;
}
.book-display-cell .book-display-grid .book-item .book-info .book-user-info input {
  width: 150px;
}
.book-display-cell .book-display-grid .book-item .book-img-container {
  width: 300px;
  height: 200px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.book-display-cell .book-display-grid .book-item .book-img-container img {
  width: 300px;
  max-height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.book-display-cell .book-display-grid .book-item .book-img-container img:hover {
  filter: brightness(0.6);
  cursor: pointer;
}
.book-display-cell .book-display-grid .book-item .add-book-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.book-display-cell .book-display-grid .book-item .add-book-button img {
  cursor: pointer;
  border-radius: 50%;
  width: 20%;
}
.book-display-cell .book-display-grid .book-item .add-book-button img:hover {
  filter: brightness(0.9);
}
.book-display-cell .book-display-grid .book-item .add-book-button img:active {
  transition: all 0.7s ease-out;
  transform: translateY(3px);
}
.book-display-cell .book-display-grid .book-item .add-book-button i {
  display: none;
}
.book-display-cell .book-display-single {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.book-display-cell .book-display-single .book-item:not(.single-view-active-book-item) {
  display: none;
}
.book-display-cell .book-display-single .single-view-active-book-item {
  background-color: var(--color-primary-5);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  height: 100%;
  padding-top: 15px;
}
.book-display-cell .book-display-single .single-view-active-book-item .book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-left: 10px;
}
.book-display-cell .book-display-single .single-view-active-book-item .book-info .book-main-info {
  display: flex;
  flex-direction: column;
  font-size: large;
  width: 60%;
}
.book-display-cell .book-display-single .single-view-active-book-item .book-info .book-main-info h2 {
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-display-cell .book-display-single .single-view-active-book-item .book-info .book-extra-info {
  max-height: 270px;
  width: 600px;
  margin: 20px 0;
}
.book-display-cell .book-display-single .single-view-active-book-item .book-info .book-extra-info .book-publish-date {
  margin: 30px 0px;
}
.book-display-cell .book-display-single .single-view-active-book-item .book-info .book-extra-info .book-genres {
  margin: 30px 0px;
}
.book-display-cell .book-display-single .single-view-active-book-item .book-info .book-extra-info .book-synopsis {
  margin: 30px 0px;
}
.book-display-cell .book-display-single .single-view-active-book-item .book-info .book-extra-info .book-synopsis span {
  font-style: italic;
  width: 590px;
  height: 180px;
  display: -webkit-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-line;
  text-overflow: clip;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.book-display-cell .book-display-single .single-view-active-book-item .book-info .book-user-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
  pointer-events: auto;
}
.book-display-cell .book-display-single .single-view-active-book-item .book-info .book-user-info i {
  font-weight: 600;
  font-size: x-large;
}
.book-display-cell .book-display-single .single-view-active-book-item .book-info .book-user-info input {
  font-size: x-large;
  height: 50px;
  width: 350px;
}
.book-display-cell .book-display-single .single-view-active-book-item .book-img-container {
  width: 550px;
  height: 100%;
  display: flex;
}
.book-display-cell .book-display-single .single-view-active-book-item .book-img-container img {
  margin-top: 20px;
  width: 500px;
  max-height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}
.book-display-cell .book-display-single .single-view-active-book-item .add-book-button {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  left: 6%;
  bottom: 13%;
  border-radius: 10px;
  border-bottom: 3px solid var(--color-primary-2);
  background-color: var(--color-primary-1);
  height: 50px;
  width: 300px;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
.book-display-cell .book-display-single .single-view-active-book-item .add-book-button:hover {
  filter: brightness(0.9);
}
.book-display-cell .book-display-single .single-view-active-book-item .add-book-button:active {
  border-bottom: 0px solid var(--color-primary-2);
}
.book-display-cell .book-display-single .single-view-active-book-item .add-book-button img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  left: 10px;
  border-radius: 50%;
  width: 30px;
}
.book-display-cell .book-display-single .single-view-active-book-item .add-book-button i {
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: white;
}

.search-sort-options {
  display: flex;
  position: absolute;
  left: 88%;
  top: 10%;
  flex-direction: column;
  justify-content: center;
}
.search-sort-options .search-sort-main-btns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100px;
  height: 30px;
}
.search-sort-options .search-sort-main-btns .search-sort-arrow-btn {
  background-color: var(--color-grey-2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-shadow: var(--interactable-area-shadow);
  border-right: 1px solid var(--color-grey-3);
  border-bottom: 3px solid var(--color-grey-3);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.search-sort-options .search-sort-main-btns .search-sort-arrow-btn:hover {
  transition: all 0.1s ease-in-out;
  background-color: var(--color-grey-3);
  border-bottom: 3px solid var(--color-grey-4);
}
.search-sort-options .search-sort-main-btns .search-sort-arrow-btn img {
  width: 50%;
}
.search-sort-options .search-sort-main-btns .search-sort-hamburger-btn {
  background-color: var(--color-grey-2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-shadow: var(--interactable-area-shadow);
  border-left: 1px solid var(--color-grey-3);
  border-bottom: 3px solid var(--color-grey-3);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.search-sort-options .search-sort-main-btns .search-sort-hamburger-btn:hover {
  transition: all 0.1s ease-in-out;
  background-color: var(--color-grey-3);
  border-bottom: 3px solid var(--color-grey-4);
}
.search-sort-options .search-sort-main-btns .search-sort-hamburger-btn img {
  width: 50%;
}

.back-to-normal-view-button {
  position: absolute;
  left: 1%;
  top: 1%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--color-primary-1);
  border-bottom: 3px var(--color-primary-2) solid;
  transition: all 0.2s ease-out;
}
.back-to-normal-view-button:hover {
  background-color: var(--color-primary-2);
  border-bottom: 3px var(--color-primary-4) solid;
  cursor: pointer;
}
.back-to-normal-view-button:active {
  transform: translateY(3px);
  border-bottom: 0px var(--color-primary-4) solid;
}
.back-to-normal-view-button img {
  filter: invert(1);
  border-radius: 50%;
  width: 100%;
}

.book-display-controls {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  left: 88%;
  width: 100px;
  height: 50px;
  margin-top: 20px;
}
.book-display-controls .book-display-controls-list-btn {
  background-color: var(--color-grey-2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-bottom: 4px solid var(--color-grey-3);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: var(--interactable-area-shadow);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.book-display-controls .book-display-controls-list-btn:hover {
  background-color: var(--color-grey-3);
  border-bottom: 4px solid var(--color-grey-4);
}
.book-display-controls .book-display-controls-list-btn img {
  padding-left: 3px;
  filter: contrast(0.2);
  width: 70%;
}
.book-display-controls .book-display-controls-grid-btn {
  background-color: var(--color-grey-2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-bottom: 4px solid var(--color-grey-3);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: var(--interactable-area-shadow);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.book-display-controls .book-display-controls-grid-btn:hover {
  background-color: var(--color-grey-3);
  border-bottom: 4px solid var(--color-grey-4);
}
.book-display-controls .book-display-controls-grid-btn img {
  padding-right: 2px;
  filter: contrast(0.2);
  width: 70%;
}
.book-display-controls .book-display-controls-btn-is-toggled {
  background-color: var(--color-primary-2);
  border-bottom: 2px solid var(--color-primary-4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  transform: translateY(1px);
}
.book-display-controls .book-display-controls-btn-is-toggled:hover {
  transition: none;
  background-color: var(--color-primary-2);
  border-bottom: 2px solid var(--color-primary-4);
}
.book-display-controls .book-display-controls-btn-is-toggled img {
  filter: invert(100%);
}

.search-filter-bar:has(.search-filter-bar-main-info:hover) {
  background-color: var(--color-grey-3);
  border-bottom: 3px solid var(--color-grey-4);
}

.fade-in-active {
  animation: fadeInAnim 0.3s ease-out;
}
@keyframes fadeInAnim {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.filter-area-open-animation {
  animation: openAnimation 0.7s ease-out forwards;
}
@keyframes openAnimation {
  0% {
    height: 30%;
  }
  25% {
    height: 30%;
  }
  100% {
    height: 95%;
  }
}

.filter-area-close-animation {
  animation: filterAreaCloseAnimation 0.7s ease-out forwards;
}
@keyframes filterAreaCloseAnimation {
  0% {
    height: 95%;
  }
  25% {
    height: 95%;
  }
  100% {
    height: 30%;
  }
}

.filter-options-close-animation {
  opacity: 0%;
  animation: filterOptionsCloseAnimation 0.7s ease-out forwards;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@keyframes filterOptionsCloseAnimation {
  0% {
    opacity: 100%;
  }
  25% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

.filter-options-open-animation {
  animation: filterOptionsOpenAnimation 0.7s ease-out forwards;
  pointer-events: auto !important;
  -webkit-user-select: auto !important;
     -moz-user-select: auto !important;
          user-select: auto !important;
}
@keyframes filterOptionsOpenAnimation {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.filter-state-icon-close-animation {
  animation: filterAreaIconCloseAnimation 0.7s ease-out forwards;
}
@keyframes filterAreaIconCloseAnimation {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.filter-state-icon-open-animation {
  animation: filterAreaIconOpenAnimation 0.7s ease-out forwards;
}
@keyframes filterAreaIconOpenAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.filter-on-text h4 {
  color: green;
}

.filter-off-text h4 {
  color: red;
}

.user-book-info-disabled {
  filter: brightness(0.8);
  color: var(--color-grey-1);
  pointer-events: none;
}
.user-book-info-disabled input {
  pointer-events: none;
}

.book-display-intro {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}
.book-display-intro span {
  font-size: xx-large;
  font-weight: 800;
  padding: 0px 20px;
}
.book-display-intro span #username-highlight {
  color: var(--color-primary-1);
}
.book-display-intro h2 {
  font-weight: 500;
}

.inactive-element {
  opacity: 0%;
  pointer-events: none;
}
.inactive-element input {
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */